<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="börja-samla-material">

        <a href="börja mina - bra gear.html" id="ancortwo">Börja minea</a>

        <p class="story">Du börjar samla material för att utveckla dina kunskaper och för att skaffa verktyg.</p>
    </main>
</body>

</html>