<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main id = "börja-mina-och-skaffa-bra-gear">
            <a href="du hittar en mobspawner, hoppa ner i den - vänta på bättre gear.html" class = "ancorone">Fortsätt i världen</a>
            <p class="story">Bra val! Såklart man ska mina och skaffa bra gear, hur skulle man annars kunna utvecklas.</p>
    </main>
</body>
</html>