<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="bygg-hus-eller-överlev-natten">
        <div class="choice">
        <a href="du försöker överleva natten utan hus men du dör av alla mobs. börja om.html" id="ancortwo">Försök överleva natten</a>
        <a href = "du byggde ett start hus och sov under natten och vaknade upp till en fin dag.html" id = "ancorone">Bygg hus</a>
        </div>
        <p class="story">Det börjar bli sent och du ser hur världen bara blir mörkare och mörkare, du ser att det dycker upp mycket mobs, vad väljer du att göra?</p>
    </main>
</body>

</html>