<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="byggde-hus">


        <a href="samla material för adventuretime. Det börjar bli kväll, fortsätt samla - gå och lägg dig.html"
            class="ancorone">Gå vidare i världen</a>
        <p class="story">Du byggde ett starter hus, smart! Du sov under nattene och vakande upp till en fin dag</p>
    </main>
</body>

</html>