<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="alfred">

        <a href="index.html" class="story">Vem döper sin häst till Alfred? Av alla namn man kan välja, så valde du Alfred, vem fan döper sin häst till Alfred. Du dog, börja om</a>
       </main>
</body>

</html>