<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main id = "joergen2">

            <p class = "story"> Du döper hästen till Joergen#2 och gör inte samma misstag som innan </p>

            <a href="du utforskar nether och utvecklar dina kunskaper.html" class="ancorfour">Du upplever dejavu</a>

    </main>
</body>
</html>