<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="dödar-wither-skeleton">
        <a href="du är sämst på att sikta.html" class="ancorthree">Använd bow</a>

        <a href="när du gar duba tre witehr skulls så måste du välja mellan att bekämpa wither med en zombie pigmenarme eller utan.html" class="ancorfour">Använd svärd</a>

        <p class="story">Du dödar wither skeleton för att samla på deras huvuden använder du bow eller svärd?</p>
    </main>
</body>

</html>