<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>

    <main id="du-går-in-i-portalen-med-joergen">
            <div class="choice">
        <a href="du går på adventure och du hittar en häst copy.html" id="ancorone">Fortsätt att utforska världen</a>
</div>
        <p class="story">Du går in i portalen med Joergen men när du ska gå ut så dör Joergen eftersom han fastnar i ett obsidianblock och kan inte andas</p>

    </main>
</body>

</html>