<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="du-går-på-adventure-och-hittar-häst">
            <div class="choice">
        <a href="du dog av mobs eftersom du inte var tillräckligt snabb hem.html" id="ancortwo">Du går vidare med ditt liv utan hästen</a>
        <a href = "du tamar hästen och hinner hem innan det blir natt.html" id = "ancorone">Du tamear hästen</a>
        </div>
        <p class="story">Du vaknar upp och kollar igenom vad du fick ihop av din mineing runda igår. Det är mer en nog för ett adventure. Du väljer att redan idag gå på adventure och stötter på en häst.</p>
    </main>
</body>

</html>