<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main id="du-hittar-bra-gear-och-dödar-mobs">

        <a href="det är kväll med mycket mobs, bygg hus - försök överleva natten.html" class="ancorone">Gå vidare i världen</a>
        <p class="story">Det är alltid viktigt att vara förbredd för det värsta, bra val, du gearar upp och bestämmer dig för att gå ner och döda mobsen och förstöra spawnern. Bra val</p>
    </main>
</body>

</html>