<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="du-hittar-bra-gear-och-dödar-mobs">

        <a href="det är kväll med mycket mobs, bygg hus - försök överleva natten.html" class="ancorone">Gå vidare i världen</a>
        <p class="story">Du hittade bra gear och gick ner i minen för att döda mobsen vid mobspawner... Du klarar av det och får lite iron och redstone i belöning!</p>
    </main>
</body>

</html>