<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="du-hittar-en-mobspawner">
        <div class="choice">
            <a href="du hittar bra gear och dödar alla mobs.html" id="ancorone">Du letar efter bättre gear</a>

            <a href="du hoppa ner och dog. stupid.html" id="ancortwo">Du hoppar ner och försöker döda mobsen</a>
        </div>
        <p class="story">När du är nere och minear hittar du en mobspawner, lite läskigt men vad väljer du att göra?</p>
    </main>
</body>

</html>