<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="du-har-10-obsidian">
        <a href="du har 10 obsidian, väljer du att bugga en netherprotal eller inte.html" class="ancorfour">Bygg en netherprotal</a>

        <a href="du väljer att inte bygga en netherportal och utvecklas aldrig i minecraft så du är fast i en endless loop.html" class="ancorthree">Bygg inte en netherprotal</a>

        <p class="story">Du har 10 obsidian, väljer du att bygga en netherprotal eller inte?</p>
    </main>
</body>

</html>