<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
    <style>
            @keyframes glow {
           from {
             box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px rgb(168, 8, 8), 0 0 20px rgb(168, 8, 8), 0 0 25px rgb(168, 8, 8), 0 0 30px rgb(168, 8, 8), 0 0 35px rgb(168, 8, 8);
           }
           
           to {
             box-shadow: 0 0 10px #fff, 0 0 15px rgb(190, 8, 8), 0 0 20px rgb(190, 8, 8), 0 0 25px rgb(190, 8, 8), 0 0 30px rgb(190, 8, 8), 0 0 35px rgb(190, 8, 8), 0 0 40px rgb(190, 8, 8);
           }
         }
         </style>
</head>

<body>
    <main id="du-samlar-material-för-länge">
        <a href="index.html" class="story">Du dog, börja om</a>
    </main>
</body>

</html>