<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="du-döper-hästen">
        <div class="choice">
            <a href="du dör eftersom du är efterbliven och döper hästen alfred... vem fan döper sin häst alfred.html"
                id="ancortwo">Alfred</a>
            <a href="joergen är den snabbaste och bästa hästen som finns bra val.html" id="ancorthree">Joergen</a>
        </div>
        <p class="story">Du kommer på att din häst kanske ska ha ett namn, men vad skulle passa? Du tänker en stund och
            kommer fram till två namn, men vad väljer du? Alfred eller Joergen?</p>
    </main>
</body>

</html>