<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main id = "du-tamar-hästen-och-hinner-hem-innan-det-blir-natt">

            <a href="du döper hästen till joergen2.html" class = "ancorthree"> Gå vidare i världen </a>
  
            <p class="story"> Du tamar hästen och hinner hem innan det blir natt </p>
    
        </main>
</body>
</html>