<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <main id="du-utforskar-nether">
        <p class="story">Du utforskar nether och utvecklar dina kunskaper. Bra jobbat!</p>
        <a href="du dödar wither skeleton för att smala på deras huvuden använder du bow eller svärd.html" class ="ancorfour">Forsätt i världen</a>

    </main>
</body>

</html>