<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main id="du-väljer-att-gå-ner-och-mina-i-två-dagar">
        <a href="du har 10 obsidian, väljer du att bugga en netherprotal eller inte.html" class="ancorfour">Fortsätt i världen</a>

        <p class="story">Du väljer att gå ner och mina i två dagar i sträck, hittar diamonds och obsidian och går ner och lägger dig</p>
    </main>
</body>

</html>