<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="du-vill-gå-in-i-protalen">
        <a href="du går in i portalen med joergen men när du sk a gå ut så dör joergen eftersom han fastnar i obsidian och kan inte andas.html" id="ancorthree">Ta med joergen</a>

        <a href="du utforskar nether och utvecklar dina kunskaper.html" id="ancorfour">Ta inte med Joergen</a>

        <p class="story">Du vill gå in i protalen, tar du med dig Joergen eler inte?</p>
    </main>
</body>

</html>