<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../javascript/script.js" defer></script>
</head>

<body>
    <main id="forsätt-samla-material-eller-minea">
            <div class="choice">
        <a href="du samlar material för länge, du dog.html" id="ancorone">Fortsätt samla material</a>
        <a href="börja mina - bra gear.html" id ="ancortwo">Börja minea</a>
        </div>
        <p class="story">Du har samlat material ett ganska lång stund och kommer på att det skulle vara kul att börja minea, vad väljer du? </p>
    </main>
</body>

</html>