<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="foundhorse">
        <h1 class="title">Välkommen till vår Minecraft story</h1>
        <a href="hoppa på hästen.html" class="ancorthree">Lek med hästen</a>
        <a href="börja samla material.html" class="ancorone">Börja samla material</a>
        <p class="story">Du hittar en häst och du vet inte vad du kan göra med den. Du antar att du kan rida på hästen
            men du vet att en sadel behövs för det.</p>
    </main>
</body>

</html>