<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <main id = "hoppa-hästen">

            <a href="börja samla material SECOND.html" class = "ancorone">Börja samla material</a>


            <p class="story">Du har valt att hoppa på hästen men det var precis som du tänkte. Du behöver en sadel för att kunna styra hästen.</p>
    </main>
</body>
</html>