<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <main id="joergen">
  
        <a href = "du väljer att gå ner och mina i två dagar i sträck, hittar diamonds och obsidian och går upp och lägger dig.html" class = "ancorfour">Gå vidare i världen</a>
        <p class="story">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quam iure non at molestiae
            laudantium rerum ipsa. Cum vero quia optio dolore culpa debitis quos, veritatis veniam unde quae eum! Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Quia, reiciendis. Accusantium eligendi architecto, quia
            suscipit animi veritatis reiciendis tempora ducimus maxime? Blanditiis quaerat cumque quidem beatae
            necessitatibus omnis quis accusantium.</p>
    </main>
</body>

</html>