<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <main id="dödar-wither">
        <a href="du dödar wither och lever glad förevight, bra jobbat.html" class="ancorfour">Du tar med din Zombiepigmen arme</a>

        <a href="du dör eftersom du inte har en zombie pigman arme som kan skydda dig.html" class="ancorthree">Du tar inte med dig din Zombiepigmen arme</a>

        <p class="story">När du har dina tre wither skulls så måste du välja mellan att bekämpa wither med en Zombiepigmen arme eller utan</p>
    </main>
</body>

</html>