<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main id="samla-material-för-adventuretime">

        <a href="det blir natt och du ser mobs spawna.html" class="ancorfour">Forsätt samla material</a>
        <a href = "du går på adventure och du hittar en häst.html" class = "ancorone">Gå och lägg dig</a>
        <p class="story">Under den fina dagen så kommer du på att det kanske är dags för adventure time, och behöver därför material. Du har redan under dan samlat på dig en hel del material. Det börjar bli kväll och du behöver välja mellan två val, vad väljer du?</p>
    </main>
</body>

</html>